{{> header }} 
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Breaking Bad</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus repudiandae fuga commodi aliquid modi aspernatur voluptatem quo. Libero maiores tempora obcaecati, doloribus, placeat quae architecto non voluptatum explicabo quod hic!   
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/cropped-1366-768-688208.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}